#appTT {
    background-color: #f5f5f5;
    text-align: center;
    color: #363636;
    font-family: "Roboto Mono", monospace;
    height: 263.8px;
    font-size: 16px;
}

#appTT .menu-container,
#appTT .game-container {
    margin: auto;
    width: 50%;
}

#appTT button {
    margin: 10px auto;
    width: 20%;
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
    transition: all 0.1s ease;
	background-color: #e0e0e0;
	color: #363636;
	cursor: pointer;
    border-radius: 6px;
    border: 1px solid #979797;
}

#appTT button:hover {
	background-color: #4f5353;
	color: #eeeeee;
}

#appTT .menu {
    display: flex;
    justify-content: center;
}

#appTT .menu .selection,
#appTT .menu .radio {
    width: 20%;
}

#appTT .menu > div > label {
    font-size: 1.1rem;
    display: inline-block;
    margin-bottom: 5px;
}

#appTT .headline {
    text-align: center;
    margin: 5px;
}

#appTT .checkboxes {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    flex-basis: 200px;
}

#appTT .checkboxes > div {
    flex-basis: 100px;
}

#appTT .symbols {
    height: 170.2px;
    width: 40%;
}

#appTT .symbols > div {
    justify-content: flex-end;
}


.non-foreign > :nth-child(1) > label::before {
    content: "ва ол";
}
.non-foreign > :nth-child(2) > label::before {
    content: "фы дж";
}
.non-foreign > :nth-child(3) > label::before {
    content: "ми ть";
}
.non-foreign > :nth-child(4) > label::before {
    content: "еп нр";
}
.non-foreign > :nth-child(5) > label::before {
    content: "ук гш";
}
.non-foreign > :nth-child(6) > label::before {
    content: "чс бю";
}
.non-foreign > :nth-child(7) > label::before {
    content: "йц щз";
}
.non-foreign > :nth-child(8) > label::before {
    content: "я эхъ";
}



.foreign > :nth-child(1) > label::before {
    content: "df jk";
}
.foreign > :nth-child(2) > label::before {
    content: "as l;";
}
.foreign > :nth-child(3) > label::before {
    content: "vb nm";
}
.foreign > :nth-child(4) > label::before {
    content: "tg yh";
}
.foreign > :nth-child(5) > label::before {
    content: "er ui";
}
.foreign > :nth-child(6) > label::before {
    content: "qw op";
}
.foreign > :nth-child(7) > label::before {
    content: "xc ,.";
}
.foreign > :nth-child(8) > label::before {
    content: "z ! ? /";
}



#appTT .field {
    border: 2px solid black;
    border-left: none;
    width: 50%;
    text-align: left;
    overflow: hidden;
}

#appTT .space {
    border: 2px solid black;
    border-right: none;
    background-color: #e3e6e9;
    width: 50%;
    text-align: right;
}

#appTT .play {
    display: flex;
    flex-direction: row;
    white-space: pre;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    box-sizing: border-box;
}


#appTT .game-container p {
    display: inline;
}

#appTT .game-container .time {
    margin: 10px 0;
    display: inline-block;
}

#appTT .btn-repeat {
    margin-left: auto;
    margin-right: 5px;
}

#appTT .btn-main-menu {
    margin-left: 5px;
    margin-right: auto;
}

#appTT .error {
    color: red;
    font-size: 1.1em;
    margin: 5px;
}

#appTT .start {
    color: rgb(43, 43, 43);
}

#appTT .finish {
    color: gray;
}